body {
  margin: 0;
  padding: 50px;
}

.titulo {
  color: #5e4dcd;
}

#ahorcado {
  height: 318px;
  width: 307.2px;
  background-image: url("./image/hombre.png");
}

#ganador {
  display: none;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 5rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: white;
}

#perdedor {
  display: none;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 5rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: white;
}

#output {
  margin-top: 50px;
  width: max-content;
  padding: 20px 20px 0 20px;
  color: #5e4dcd;
  font-size: 25px;
  border: 1px solid #5e4dcd;
  border-radius: 6px;
}

.input-group {
  display: flex;
  align-items: center;
}

.input {
  min-height: 50px;
  max-width: 150px;
  padding: 0 1rem;
  color: black;
  font-size: 15px;
  border: 1px solid #5e4dcd;
  border-radius: 6px 0 0 6px;
  background-color: transparent;
}

.button--submit {
  min-height: 50px;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0 6px 6px 0;
  background-color: #5e4dcd;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.button--reset {
  min-height: 50px;
  padding: 0.5em 1em;
  border: none;
  border-radius: 6px;
  background-color: #5e4dcd;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
